h1{
    background-color: rgb(171, 244, 179);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
body{
    background-color:  rgba(167, 198, 170, 0.908);
}

html {
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Trebuchet MS', sans-serif;
}

.matcha-powder {
    text-align: center;
}

#matcha-image {
    border-radius: 20%;
    width: 400px;
    height: auto;
}