body {
    background: #F7F1F0;
    font-family: cursive;
    margin: 30px;
    font-size: 16px;
    text-align: center;
    height: 100vh;
    

    display: grid;
    grid-gap: 10px;
    
    grid-template-areas:
        "header"
        "hero"
        "body"
        "footer"
}

header {
    
    align-items: center;
    padding-bottom: 1px solid  rgb(97, 95, 83);
    background: #c3a6a0;
    grid-area: header;
    font-size: 14px;
    display: grid;
    grid-template-columns: 20% 60% 15%;
    
    grid-gap: 10px;
    grid-template-areas:
        "brand nav tools";
}

.nav a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-self: center;
    font-size: 25px;
    text-decoration: none;
    color: #262220;
  }

  
  .tools a {
    float: left;
    color: #262220;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  .hero {
    grid-area: hero;
    display: grid;
    padding: 2px;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 10px;
    grid-template-areas:
        "feature action ad";
    background: #c3a6a0;
    font-size: 12.5px;
    
  }

  .hero .action  {
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px; 
    text-align: center;
    grid-area: action;
    
  }

  .hero .action a {
    text-decoration: none;
    color: #e7b354;
    background: rgb(138, 133, 112);
  }
  
  .hero .feature  { 
    grid-area: feature;
  
    
    padding: 10px;
    margin-top: 20px; 
  }
  
  .hero .desktop-ad {
   
    padding: 10px;
    margin-top: 20px; 
  }
  .desktop-ad:hover {
    opacity: 0.5;
}
  .hero .desktop-ad  img {
    border-radius: 15%;
   
  }

  main {
    grid-area: body;
    display: grid;
    padding: 5px;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 10px;
    grid-template-areas:
        "feature listing sidebar";
    background: #e7d2ce;
    
  }
 
main .article-feature {
    grid-area: feature;
    
  } 

  .article-feature h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;

    
}
b, strong {
  background: #b99682;
  }
  
.article-feature p {
    font-size: 1.2rem;
 
}

main .article-listing {
  grid-area: listing;
  
  padding: 10px;
  margin-top: 20px;
  
} 



main .sidebar {
  grid-area: sidebar;
  padding: 50px;
  margin-top: 60px;


}

main .sidebar .sidebar-feature {
  /*  */
}

footer {
  grid-area: footer; 
  background: #a15c38;

} 


/* @media (min-width: 576px) {
  body {
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
        "header"
        "hero"
        "body"
        "sidebar"
        "footer";
  }
  header {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "brand nav tools";
  }
  .hero {
    grid-template-areas:
        "feature"
        "action";
  }
/* .hero .feature {
  display: flex;
} */



  /* main {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "feature ad"
        "listing listing";
  }


  .sidebar {
    display: grid;
  }

  .desktop-ad img {
    width: 100px;

  } */ */





  @media (min-width: 992px) {

  }